
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>
<body>
    <div> 
        <table>
            <tr>
                <td>车次</td>
                <td>起点</td>
                <td>终点</td>
                <td>出发时间</td>
                <td>到达时间</td>
                <td>票价</td>
                <td>备注</td>
            </tr>
            <tbody id="tbss"></tbody>
        </table>
    </div>
</body>
</html>
<script>
    function myfunction() {

    }
</script>
